In [367]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras import optimizers
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_squared_log_error
import datetime
import ast

%matplotlib inline

In [368]:
df = pd.read_csv('data/train.csv')

In [369]:
df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [370]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
id                       3000 non-null int64
belongs_to_collection    604 non-null object
budget                   3000 non-null int64
genres                   2993 non-null object
homepage                 946 non-null object
imdb_id                  3000 non-null object
original_language        3000 non-null object
original_title           3000 non-null object
overview                 2992 non-null object
popularity               3000 non-null float64
poster_path              2999 non-null object
production_companies     2844 non-null object
production_countries     2945 non-null object
release_date             3000 non-null object
runtime                  2998 non-null float64
spoken_languages         2980 non-null object
status                   3000 non-null object
tagline                  2403 non-null object
title                    3000 non-null object
Keywords                 2724 non-null object
cast                     2987 non-null object
crew                     2984 non-null object
revenue                  3000 non-null int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.1+ KB

In [371]:
df['runtime'].fillna((df['runtime'].mean()), inplace=True)
df['release_date'] = pd.to_datetime(df['release_date'])
df['release_date'] = datetime.date.today().year
df = pd.get_dummies(df, prefix=['Is'], columns=['original_language'])

In [373]:
y = df.revenue
X = df[['budget', 'popularity', 'runtime','release_date','Is_en']]

In [374]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [375]:
X_train.head()

        budget  popularity  runtime  release_date  Is_en
2761   1089360    0.663231    115.0          2019      0
123   25000000    8.369176    115.0          2019      1
1808         0    1.512013    150.0          2019      1
2286  75000000    7.762917    104.0          2019      1
2147   3200000   11.504558    136.0          2019      1

In [376]:
scalar = StandardScaler().fit(X_train)
X_train = scalar.transform(X_train)
X_test = scalar.transform(X_test)

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [377]:
regression = LinearRegression().fit(X_train, y_train)

In [378]:
mean_squared_error(y_test, regression.predict(X_test))

6590643439342994.0

In [379]:
X_test.shape

(990, 5)

In [398]:
model = Sequential()
model.add(Dense(units=80,activation='relu',input_shape=(5,), name='L1'))
model.add(Dense(units=40,activation='relu',name='L2'))
model.add(Dense(units=1,activation='linear',name='Output'))

In [399]:
# opt = optimizers.Adadelta()
opt = optimizers.SGD()
model.compile(loss='mse',optimizer=opt, metrics=['mse'])

In [400]:
model.summary()

Model: "sequential_11"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
L1 (Dense)                   (None, 80)                480
_________________________________________________________________
L2 (Dense)                   (None, 40)                3240
_________________________________________________________________
Output (Dense)               (None, 1)                 41
=================================================================
Total params: 3,761
Trainable params: 3,761
Non-trainable params: 0
_________________________________________________________________

In [407]:
history = model.fit(X_train, y_train, epochs=100, batch_size=25, verbose=0, validation_split=0.3, shuffle=True)

In [408]:
#mean_squared_error(y_test, model.predict(X_test))

In [409]:
mean_squared_log_error(y_test, model.predict(X_test))

11.878445938262548

In [414]:
model.fit(X,y)
df_test = pd.read_csv('data/test.csv')
df_test = eda(df_test)
X_test = df_test[['popularity', 'budget', 'runtime']]
scalar = StandardScaler().fit(X_train)
X_test = scalar.transform(X_test)
y_test_hat = model.predict(X_test)

3000/3000 [==============================] - 0s 27us/sample - loss: 18910526324642676.0000 - mse: 18910526255923200.0000

NameError: name 'eda' is not defined

In [411]:
#Generate CSV
df_test['revenue']= y_test_hat
dft = df_test[['id','revenue']]
dft.to_csv('lr_results.csv',index=False)

NameError: name 'y_test_hat' is not defined